<div class="form">
  <h1>Register</h1>
  <hr />
  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <input type="text" 
    formControlName="userName" 
    placeholder="userName" 
    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
    />
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">userName is required</div>
  </div>
    </div>

    <div class="form-group">

      <input type="text" 
      formControlName="Email Address" 
      placeholder="Email Address" 
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
      
    </div>

    <div class="form-group">

      <input type="password"
      formControlName="password"
       placeholder="Password" 
       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
       />
       <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
      
    </div>

    <div class="form-group">
    <input type="password" 
    formControlName="confirmPassword"
    placeholder="Confirm Password" 
    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
    />
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
  </div>

      </div>

    <button>Register</button>
    <p class="message">
      Already registered? <a routerLink="/login">Sign In</a>
    </p>
  </form>
</div>