.navbar {
    background-image: linear-gradient(#7DA7EB,#7DA7EB,#7DA7EB);
    //box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 7.5%;
    width: 100%;
    z-index: 3;

}
