<div class="container-fluid" >
  <img src="https://img.icons8.com/color/48/000000/blocked-account-male.png" class="mb-2"/>
  <!-- <p>Blacklisted Users</p> -->
  BLACKLISTED
      <div class ="table-responsive">
          <table class="table table-hover"  >
              <thead>
                  <tr>
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of allUsers"> 
                      
                      <td>{{user.username.substring(0, user.username.lastIndexOf("@"))}}</td>
                
                      <td>{{user.username}}</td>
                      <td>
                        <span  (click)="enable(user._id)" id="blacklist">
                          <img src="https://img.icons8.com/fluency/35/000000/nui2.png"/>
                      </span>
                            <span>
                              <img src="https://img.icons8.com/color/35/000000/delete-forever.png"/>
                            </span>
                      </td>


                      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteUser(user._id,user.username,user.email)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
                  </tr>
            
              </tbody>
          </table>  
      </div>
</div>






