.btnM{
    background-color:#7DA7EB ;
}
.modal-body{
    
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-header{
    background-color: #7DA7EB;
}
.btnM:hover{
    background-color: #4f8ff5;
}
.h4{
   font-weight:initial;
}
.close:hover{
  background-color: #4f8ff5;  
}
#toastr-container>.toast-success {
    background-color: #7DA7EB;
}