
<div class="modal-header">
    <h4 class="modal-title">edit word</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


    <div class="modal-body">

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="form-row">

            <div class="form-group col-5">
              
              <input  [(ngModel)]="selected.word"  type="text" formControlName="word"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.word.errors }" />
              <div *ngIf="submitted && f.word.errors" class="invalid-feedback">
                <div *ngIf="f.word.errors.required">First Name is required</div>
              </div>
            </div>

          </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="update(selected._id)">Save
        changes</button>
    <button type="button" class="btn btnM btn-outline-dark" (click)="activeModal.close('Close click') " >Close</button>
  </div>
  </form>