
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<app-cards></app-cards> 
<br>
<br>
<div class="row row-cols-md-2 row-cols-md-2 g-4">
<div class="col">
<div class="card" >
<app-graph></app-graph>
</div>
</div>

<div class="col">
<div class="card" style="width: 25rem; height: 368px;">       
<app-pie></app-pie>
</div>
</div>


<div class="col">
<div class="card">         
<app-graphs></app-graphs>
</div>
</div>

<div class="col">
    <div class="card" style="width: 25rem; height: 368px;">  
<app-pies></app-pies>
</div>
</div>

</div>
