<br>
<div class="container-fluid">
  <img src="https://img.icons8.com/ultraviolet/40/000000/sign-language-interpretation.png" class="mb-2"/>
  REQUESTED
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Word/Sentence</th>
          <th scope="col">GIF/Picture</th>
          <th scope="col">User</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
       <tr *ngFor="let user of allWords"> 
                      
                      <td>{{user.word}}</td>
                      <td><img src="{{user.gif}}" alt=""></td>
                      <td>{{user.username}}</td>
                      <td>
                        {{user.approve}}
                        <h6><span (click)="onAccepted(user.word,user.gif,user.approve)">
                          <img src="https://img.icons8.com/external-bearicons-outline-color-bearicons/25/000000/external-approved-approved-and-rejected-bearicons-outline-color-bearicons-10.png"/>
                        </span>
                          <span (click)="delete(user._id)">
                            <img src="https://img.icons8.com/fluency/35/000000/receipt-declined.png"/>
                          </span>
                        </h6> 
                      </td>
          
        </tr>
     
      </tbody>
    </table>
  </div>
</div>