<div class="container-fluid">
  <p>Requested Signs</p>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Word/Sentence</th>
          <th scope="col">GIF/Picture</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
       <tr *ngFor="let user of allWords"> 
                      
                      <td>{{user.word}}</td>
                      <td><img src="{{user.gif}}" alt=""></td>
                      <td>
                        {{user.approve}}
                        <h6><span (click)="onAccepted(user)">
                         <img src="https://img.icons8.com/color/48/000000/approval--v1.png" height="30px" />
                        </span>
                          <span (click)="delete(user._id)">
                            <img src="https://img.icons8.com/emoji/48/000000/cross-mark-emoji.png" height="30px" />
                          </span>
                        </h6> 
                      </td>
          
        </tr>
     
      </tbody>
    </table>
  </div>
</div>