<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<app-navbar></app-navbar>
<br>
<app-cards></app-cards> 

<charts-root></charts-root>
<div class="btn-group dropend ml-3">
    <button type="button" class="btn btna">Tables</button>
    <button type="button" class="btn btna dropdown-toggle dropdown-toggle-split" data-mdb-toggle="dropdown"
      aria-expanded="false">
      <span class="visually-hidden">Toggle Dropright</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/">All</a></li>
      <li><a class="dropdown-item" routerLink="/users">Users</a></li>
      <li><a class="dropdown-item" routerLink="/sign">Signs Table</a></li>
      <li><a class="dropdown-item" routerLink="/req">Requested Signs</a></li>
      <li><a class="dropdown-item" routerLink="/black">Blacklisted Users</a></li>

    </ul>
  </div>
<router-outlet></router-outlet>

