<div class="card m-3">
  <h5 class="card-header">Login</h5>
  <div class="card-body">
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
      <div class="form-group col">
        <label>User Name</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Email is required</div>
          <div *ngIf="f.username.errors.username">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label>Password</label>
        <input
          type="text"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Passwordis required</div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary">Login</button>
        <p class="message">
          Already registered? <a routerLink="/Register">Sign Up</a>
        </p>
      </div>
    </form>
  </div>
</div>
