.row
{
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
    // background-image: linear-gradient(#5679B9,#5679B9,#5679B9);
    background-image: linear-gradient(#56575a11,#d6dde715,#eef3fc48);
  }
  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }
  .card-counter.primary
  {
    background-color: #4A4E5A;
    color: #FFF;
  }
  .card-counter.danger
  {
    background-color: #DBDD88;
    color: #FFF;
  }
  .card-counter.success
  {
    background-color: #8BC58F;
    color: #FFF;
  }
  .card-counter.info
  {
    background-color: #7ECFDA;
    color: #FFF;
  }
  .card-counter i
  {
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers
  {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name
  {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

 
  



  