<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="card-counter success">
        <img src="https://img.icons8.com/ultraviolet/80/000000/sign-language-interpretation.png"/>
        <span class="count-numbers">{{sumSigns.length}}</span>
        <span class="count-name">Signs</span>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card-counter info">
        <img src="https://img.icons8.com/doodle/70/000000/group.png"/>
        <span class="count-numbers">{{sumUsers.length}}</span>
        <span class="count-name">Users</span>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-counter danger">
        <img src="https://img.icons8.com/fluency/80/000000/submit-for-approval.png"/>
        <span class="count-numbers">{{sumRequested.length}}</span>
        <span class="count-name">Requested</span>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-counter primary">
        <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-group-cyber-security-kiranshastry-lineal-color-kiranshastry-3.png"/>
        <span class="count-numbers">{{sumBlacklisted.length}}</span>
        <span class="count-name">Blacklisted</span>
      </div>
    </div>
  </div>
</div>


