<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="card-counter success">
        <i class="fa fa-sign-language"></i>
        <span class="count-numbers">{{sumSigns.length}}</span>
        <span class="count-name">Signs</span>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">{{sumUsers.length}}</span>
        <span class="count-name">Users</span>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-counter danger">
        <i class="fa fa-plus-square-o"></i>
        <span class="count-numbers">{{sumRequested.length}}</span>
        <span class="count-name">Requested</span>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-counter primary">
        <i class="fa fa-user-times"></i>
        <span class="count-numbers">{{sumBlacklisted.length}}</span>
        <span class="count-name">Blacklisted</span>
      </div>
    </div>
  </div>
</div>


